extends layout

block content
    //h1= name
    //p Welcome to #{name}
    h1= 'Name'
    p #{name}
    h2= 'Weight'
    p #{weight}
    h3= 'Height'
    p #{height}

    p Not sure which APIs I'll use, this was one of the only APIs I could find which didn't require signing up